<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibm.mobileappbuilder.osp20161213194459" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">

        <activity android:name="com.ibm.mobileappbuilder.osp20161213194459.ui.WeightDataActivity"
            android:label="@string/weightDataActivity"
        />
        <activity android:name="com.ibm.mobileappbuilder.osp20161213194459.ui.WeightDataDetailActivity"
        />
        <activity android:name="com.ibm.mobileappbuilder.osp20161213194459.ui.WeightDataFormFormActivity"
            android:label="@string/weightDataFormFormActivity"
        />
        <activity android:name="com.ibm.mobileappbuilder.osp20161213194459.ui.LedControlActivity"
        />
        <activity android:name="com.ibm.mobileappbuilder.osp20161213194459.ui.OspMainActivity"
            android:label="@string/ospMainActivity"
            android:theme="@style/AppTheme.Drawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
